<div>
    <form action="/post_recipe" method="post">
        <div class="container text-center" style="margin: 20px; display: flex; justify-content: center; width: 100%;">
            <h1>Post Recipe</h1>
        </div>
        <div class="container text-left" style="margin: 20px; display: flex; flex-direction: column; justify-content: left; width: 100%;">
            <h4>Recipe Name</h4>
            <input class="form-control" style="width: 300px;" type="text" name="recipeName" placeholder="Recipe Name" required>
        </div>
        <div class="container text-left" style="margin: 20px; display: flex; flex-direction: column; justify-content: left; width: 100%;">
            <h4>Description</h4>
            <textarea class="form-control" style="width: 300px;" name="description" placeholder="Give us a description of your recipe"></textarea>
        </div>
        <div class="container text-left" style="margin: 20px; display: flex; flex-direction: column; justify-content: left; width: 100%;">
            <h4>How long does it take to make your recipe</h4>
            <input type="text" id="duration" name="duration" placeholder="HH:MM e.g. 01:15" style="width:max-content">
            <small>eg: 01:15 for 1 hour and 15 minutes</small>
            <p id="timeError" style="color: red; display: none;">Invalid Format!</p>
        </div>
        <div class="container text-left" style="margin: 20px; display: flex; flex-direction: column; justify-content: left; width: 100%;">
            <h4>Instructions</h4>
            <textarea class="form-control" style="width: 300px;" name="instructions" placeholder="How do we make your recipe" required></textarea>
        </div>
        <div class="row p-2 justify-content-left" style="margin: 20px;">
            <button class="form-control btn btn-primary" style="width: 100px;" type="submit">Post Recipe</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const durationInput = document.getElementById("duration");
        const errorMessage = document.getElementById("timeError");
        const form = document.querySelector("form");

        durationInput.addEventListener("input", function () {
            const pattern = /^(?:[01]\d|2[0-3]):[0-5]\d$/;
            if (pattern.test(this.value)) {
                errorMessage.style.display = "none";
            } else {
                errorMessage.style.display = "block";
            }
        });

        form.addEventListener("submit", function (event) {
            if (errorMessage.style.display === "block") {
                event.preventDefault();
                alert("Please enter a valid time in HH:MM format.");
            }
        });
    });
</script>