{{> head}}
{{> nav}}
<ul class="dropdown-menu">
  <!-- Link to `/profile` instead of `/profile/:userId` -->
  <li><a class="dropdown-item" href="/profile">My Profile</a></li>
</ul>
{{{body}}}
{{> footer}}