/* This holds the main CSS that is applied to everything */

.navbar-brand {
    font-family: "Inter", sans-serif;
}

.navbar {
    box-shadow: 0 0 10px #2d2d2d29;
}

.nav-link {
    margin-right: 20px;
}


footer {
    box-shadow: 0 0 10px #2d2d2d29;
}


.recipe-card-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
}


.recipe-card {
    border-radius: 10px;
}







 




